{{!--

<body class="bodystyle"> --}}
    {{!--
    <div class="row rowheader">


        <header class="col-12 col-sm-4 namebox">
            <h1 class="name">Mike Bagheri</h1>

        </header>
        <div class="col-sm-4 "></div>

        <Nav class="col-12 col-sm-4 navstyle">
            <a href="index.handlebars">about | </a>
            <a href="contact.handlebars">contact | </a>
            <a href="portfolio.handlebars">portfoloio</a>
        </Nav>

    </div> --}}


    <div class="container-fluid">


        <div class="row rowcontent">
            <article class="col-12">
                <div class="row rowcontact">
                    <div class="col-12">
                        <h2 class="contact">Contact</h2>
                    </div>
                </div>
                <div class="row rowundercontact">
                    <div class="col-12"></div>
                </div>
                <p class="indentcontent">Name</p>
                <input class="entrybox" placeholder="  Enter full name..">
                <p class="indentcontent">Email</p>
                <input class="entrybox" placeholder="  Enter email..">
                <p class="indentcontent" id="subject">Message</p>
                <textarea class="msgentrybox" type="text" placeholder="Please type your message" maxlength="1000" rows="6"></textarea>
                <div class="submitbutton">
                    <a href="mailto:mike.f.bagheri@gmail.com?Subject=subject">Email</a>
                </div>
                <div class="submitbutton">
                    <a href="https://www.linkedin.com/in/mike-bagheri-76225a10/">Linked In</a>
                </div>
                <div class="submitbutton">
                    <a href="https://github.com/michaelfbagheri">GitHub</a>
                </div>

                <!-- <input class="submitbutton" type="submit" placeholder="submit">    -->





            </article>


            <script>


            </script>


        </div>



    </div>

    {{!-- <div class="row rowfooter">
        <div class="col-12">
            <div class="row rowbreakline">
                <div class="col-12"></div>
            </div>
            <div class="row rowcopyright">
                <div class="col-12"></div>
            </div>

        </div>
    </div>
    --}}




    {{!--
</body> --}}